* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  text-align: center;
}

#home {
  background-color: #42d7b9;
  min-height: 90vh;
}

#barnav {
  position: sticky;
  top: 0;
  width: 101%;
}

.avatar {
  border-radius: 500px;
  border-style: solid;
  border-color: white;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 40px;
}


.intro {
  padding-top: 260px;
  margin-left: 100px;
}


#home h1 {
  color: white;
}

#home h2 {
  color: white;
}

#home h3 {
  color: black;
}

#personal-info {
  background-color: #75f07d;
  min-height: 90vh;
}

.aboutimage {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border-style: solid;
  margin-top: 100px;
  margin-left: 150px;
}

.info {
  font-weight: 600;
  padding-top: 150px;
  padding-bottom: 150px;
}

#skills {
  background-color: #ffb005;
  min-height: 90vh;
}

.skill {
  padding-top: 0px;
  padding-bottom: 100px;
}

.skill-bar {
  padding-top: 50px;
}

.progress {
  width: 75%;
  height: 50%;
  margin-left: 50px;
}

#skills h2 {
  text-align: center;
  color: blue;
  padding: 30px;
}

#skills h3 {
  margin-left: 50px;
  color: white;
}


.link-card {
  scroll-snap-align: start;
  border-radius: 30px;
  height: 180px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: black;
}

#personal-info h1{
  text-align: center;
  margin-top: 20px;
}
#work h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 75px;
  color: orange;
}
#work{
  background-color: #33ccff;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 90vh;
}
#work h3 {
  color: black;
}

.row-items {
  margin-bottom: 20px;
}



.link-card1 {
  background: linear-gradient(-229deg, #FBD52D, #EF3A7B);
}

.link-card2 {
  background: linear-gradient(-229deg, #FF70AF, #5FA8F5);
}

.link-card3 {
background: linear-gradient(-229deg, #0093E9, #FF70AF);
}


@media (max-width:500px) {

  .avatar{
    width: 300px;
    height: 300px;
    margin-left: 100px;
  }
  .intro {
    margin-left: 40px;
  }
  #personal-info {
    min-height: 90vh;
  }

  .aboutimage {
    width: 200px;
    height: 200px;
    margin-left: 200px;
  }

  .info {
    text-align: center;
    padding-bottom: 40px;
    margin-left: 120px;
  }
  #skills {
    min-height: 90vh;
    padding-bottom: 80px;
  }
  .skill {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .skill-bar {
    padding-top: 30px;
  }

  .link-card{
    width: 350px;
    margin-left: 75px;
  }
  #work{
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 90vh;
  }
}

@media (min-width:501px) and (max-width: 768px) {

  .avatar{
    width: 350px;
    height: 350px;
    margin-bottom: 60px;
    margin-left: 25%;
  }
  .intro {
    padding-top: 60px;
    margin-left: 120px;
  }
  #personal-info {
    min-height: 90vh;
  }

  .aboutimage {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 35%;
  }
  .about{
    justify-content: center;
    align-items: center;
  }
  .info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  #skills {
    min-height: 90vh;
    padding-bottom: 80px;
  }
  .skill {
    padding-top: 0px;
  }

  .skill-bar {
    padding-top: 20px;
  }
  .row-items{
    justify-content: center;
    align-items: center;
  }

  .link-card{
    width: 320px;
    margin-left: 210px;
  }
  #work{
    padding-top: 40px;
    min-height: 90vh;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {


  .avatar{
    width: 350px;
    height: 350px;
    margin-top: 120px;
    margin-bottom: 80px;
    margin-left: 80px;
  }
  .intro {
    padding-top: 200px;
    margin-left: 80px;
  }
  #personal-info {
    min-height: 90vh;
  }

  .aboutimage {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20%;
  }
  .info {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  #skills {
    min-height: 90vh;
    padding-bottom: 40px;
  }

  #work{
    padding-top: 40px;
    justify-content: center;
    align-items:center;
    min-height: 90vh;
  }
  .link-card{
    margin-left: 20%;
  }
}
